.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Courgette', cursive;
  background-color: #eee;
  height: 100vh;

  .jumbotron {
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 300px;
    margin: 0 auto;
    background-color: #fff;
    padding: 1rem;

    .lead {
      font-size: 1.5rem;
    }

    .welcome-section {
      text-align: center;
    }

    .continue-to-game {
      text-align: center;
    }

    section:not(.welcome-section) {
      display: none;
    }

    .read-instruction {
      .list-group-item {
        font-size: 1.2rem;
      }
    }
  }

}